<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
   <key>CFBundleShortVersionString</key>
	<string>$(majorVersion).$(minorVersion).$(bugVersion) $(releaseType)</string>
   <key>CFBundleVersion</key>
	<string>$(buildVersion)</string>
	<key>CFBundleExecutable</key>
	<string>hoverover</string>
	<key>CFBundleGetInfoString</key>
	<string>$(appName) $(majorVersion).$(minorVersion).$(bugVersion) $(releaseType) $(buildVersion)</string>
	<key>CFBundleIconFile</key>
	<string>AppIcon.icns</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>hoverover</string>
</dict>
</plist>
